@font-face {
	font-family: 'Share';
	src: url('../fonts/share-regular.eot');
	src: url('../fonts/share-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/share-regular.woff2') format('woff2'), url('../fonts/share-regular.woff') format('woff'), url('../fonts/share-regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;

}

@font-face {
	font-family: 'Share';
	src: url('../fonts/share-bold.eot');
	src: url('../fonts/share-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/share-bold.woff2') format('woff2'), url('../fonts/share-bold.woff') format('woff'), url('../fonts/share-bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;

}

body {
	font-family: Share, sans-serif;
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
	background-color: #e7e7e7;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

#main-content > core-scroll-header-panel {
	height: 100%;
}

#drawerPanel:not([narrow]) core-scroll-header-panel [content] {
	padding: 30px 0;
}

#drawerPanel[narrow][selected="drawer"] .fade-on-drawer-open {
	opacity: 0;
}

.fade-on-drawer-open {
	transition: opacity 300ms ease-in-out;
}

#drawerPanel core-header-panel {
	background: #fafafa;
	box-shadow: 1px 0 1px rgba(0, 0, 0, 0.1);
	color: #757575;
}

#drawerPanel core-header-panel .separator {
	padding: 16px;
	font-size: 14px;
	border-top: 1px solid #e0e0e0;
}

#drawerPanel core-header-panel core-menu {
	margin: 16px 0 0 0;
}

#drawerPanel::shadow #drawer {
	z-index: 1;
}

#drawerPanel::shadow #scrim {
	z-index: 1;
}

#scrollHeader::shadow #headerContainer {
	z-index: 1;
}

#navheader {
	color: #000;
	background-color: #FF8700;
}

#navheader .t3dd-logo {
	margin-top: 32px;
	width: 160px;
}

#navbar {
	background-color: #fff;
	z-index: 2;
}

#navbar a {
	border-bottom: none;
}

#navbar .t3dd-logo {
	width: 96px;
	margin-right: 16px;
}

#userImage {
	width: 45px;
	height: 45px;
	border-radius: 1000em;
	vertical-align: middle;
}

#userImage::shadow #placeholder {
	background-image: url(data:image/svg+xml;charset=utf-8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkViZW5lXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCXZpZXdCb3g9IjAgMCAyNCAyNCIgaGVpZ2h0PSIxMDAlIiB3aWR0aD0iMTAwJSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pZFlNaWQgbWVldCIgZml0PSIiPg0KCTxnPg0KCQk8cGF0aCBmaWxsPSIjMDAwMDAwIiBvcGFjaXR5PSIwLjYiIGQ9Ik0xMiAyQzYuNDggMiAyIDYuNDggMiAxMnM0LjQ4IDEwIDEwIDEwIDEwLTQuNDggMTAtMTBTMTcuNTIgMiAxMiAyem0wIDNjMS42NiAwIDMgMS4zNCAzIDNzLTEuMzQgMy0zIDMtMy0xLjM0LTMtMyAxLjM0LTMgMy0zem0wIDE0LjJjLTIuNSAwLTQuNzEtMS4yOC02LTMuMjIuMDMtMS45OSA0LTMuMDggNi0zLjA4IDEuOTkgMCA1Ljk3IDEuMDkgNiAzLjA4LTEuMjkgMS45NC0zLjUgMy4yMi02IDMuMjJ6Ij48L3BhdGg+DQoJPC9nPg0KPC9zdmc+);
	background-color: #fff;
}

#userLogin {
	margin: 0 0 0 4px;
	vertical-align: middle;
	border-bottom: none;
	font-size: 16px;
}

#userLogin::shadow #label, #userLogin::shadow #arrow {
	color: #000;
	opacity: 0.6;
}

#footer {
	box-sizing: border-box;
	height: 192px;
	padding: 24px 32px;
	background-color: #fff;
}


#footer paper-tabs::shadow #selectionBar {
	background-color: #000;
}

/*
app-route > * {
	margin-top: 64px;
}*/

/*
site-item core-icon {
  margin-right: 16px !important;
}

site-item.core-selected {
  background-color: #eee;
}

#navheader {
	*/
/*background-image: url('../images/header.jpg');*//*

	background-position: 10% 50%;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-color: #FF8700;
	background-size: cover;
	font-size: inherit;
	color: white;
	fill: white;
}

#navheader::shadow .toolbar-tools {
	z-index: 1;
}

#navheader::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 0;
	opacity: 0;
	will-change: opacity;
	transition: opacity 600ms ease-in-out;
}

#navheader .bottom {
	width: 100%;
}

core-scroll-header-panel > [content] {
	height: 100%;
}/*

#fab {
	position: fixed;
	bottom: 16px;
	right: 16px;
	color: white;
	background: #FF8700;
	will-change: transform;
	-webkit-transition: -webkit-transform 0.2s ease-in-out;
	transition: transform 0.2s ease-in-out;
}

#fab.moveup {
	transform: translate3d(0, -48px, 0);
}

#user-login::shadow #label,
#user-login::shadow #arrow {
	color: #fff;
}
#user-login {
	border-bottom-color: #fff;
	min-width: 152px;
}

#menuButton {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background: #FF8700;
}*/
